.types-of-project{
    padding: 100px 0px 70px 0px;
    .title{
        margin-bottom: 35px;
    }
}

.types-card{
    background: #01275408;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 30px;
    .icon{
        background: #01275408;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 75px;
        min-width: 75px;
        height: 100%;
        
    }
    .text{
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
        letter-spacing: 0%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 5px 20px;
        color: color(SecondaryColor);
    }
}


@media only screen and (max-width: 1200px) {
    .types-of-project{
        padding: 80px 0px 50px 0px;
    }
    .types-card {
        .text{
            font-size: 18px;
            padding: 5px 15px;
        }
    }
}

@media only screen and (max-width: 991px) {
    .types-of-project{
        padding: 70px 0px 40px 0px;
    }
}
@media only screen and (max-width: 768px) {
    .types-of-project{
        padding: 60px 0px 30px 0px;
    }
}