.why-dev-section{
    
}

.why-dev-left{
    background: #FFFFFF;
    padding: 62px 50px;
    .title{
        max-width: 400px;
    }
    
}

.why-dev-right{
    padding: 62px 20px 10px 50px;
    .title{
        max-width: 450px;
    }
    ul{
        li{
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            font-weight: 500;
            font-size: 20px;
            line-height: 170%;
            letter-spacing: 0%;
            gap: 18px;
            margin-bottom: 23px;
            &:nth-last-child(1){
                margin-bottom: 0;
            }

            img{
                width: 24px;
                margin-top: 5px;
            }
        }
    }
}


@media only screen and (max-width: 1200px) {
    .why-dev-right {
        ul {
            li{
                font-size: 18px;
                margin-bottom: 16px;
            }
        }
    }
}
@media only screen and (max-width: 991px) {
    .why-dev-right{
        padding: 50px 0px 0px 0px;
    }
}
@media only screen and (max-width: 575px) {
    .why-dev-left{
        padding: 40px 30px;
    }
}
@media only screen and (max-width: 480px) {
    .why-dev-left{
        padding: 30px 15px;
    }
}