// .product-guide-section{
//     padding-top: 290px;
//     background: url(../images/bg/prpduct-guide-bg.png);
//     background-size: cover;
//     background-repeat: no-repeat;
//     background-position: center center;
// }

.product-guide-section {
  padding-top: 15%;
  position: relative;
  overflow: hidden;

  .parallax-bg {
    position: absolute;
    inset: -290px 0;
    background: url("../images/bg/prpduct-guide-bg.png");
    background-size: cover;
    background-position: center;
    z-index: -1;
  }
}

.product-guide-inner {
  padding: 80px 15px 0px 15px;
  position: relative;
  overflow: hidden;
  .grid-pattern {
    position: absolute;
    z-index: 0;
    bottom: -5px;
    left: 50.2%;         
    transform: translateX(-50%); 
    width: calc(100vw + 0px);
    height: 100%;
  }
  .section-title {
    max-width: 630px;
    margin: auto;
    position: relative;
    z-index: 1;
  }

  .download-btn {
    max-width: 310px;
    margin: 65px auto auto;
    position: relative;
    z-index: 1;
    transform: translateX(3px);
  }
}

@media only screen and (max-width: 1200px) {
    .product-guide-section {
        .section-title{
            max-width: 520px;
        }
    }
    .product-guide-inner{
        .grid-pattern {
            width: calc(100vw + -2px);
        }
    }
    
    
}
@media only screen and (max-width: 991px) {
    .product-guide-inner{
        padding-top: 60px;
        padding-bottom: 20px;
    }
    .product-guide-inner {
        .download-btn{
            margin-top: 30px;
        }
    }
}
@media only screen and (max-width: 768px) {
    .product-guide-section {
        .section-title{
            max-width: 450px;
        }
    }
    .product-guide-inner{
        padding-top: 44px;
    }
}
